body {
    background: url("https://s3.envato.com/files/243215486/preview.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Indie Flower', cursive;
    font-family: 'Rowdies', cursive;
   
}
/* navbar */
#navbarNav {
    font-size: 20px;
    font-weight: bolder;
    
}
/* navbar hover */
#navbarNav a:hover {
    color: rgb(189, 103, 103);
    background-color: rgba(122, 115, 115, 0.295);
}
/* footer */
#footer {
    background-color: #333333;
}